<h1>EDA</h1>

<h2>Day 1</h2>

In [1]:
# 01_eda.ipynb

import pandas as pd
import sqlite3

# Connect to SQL database
conn = sqlite3.connect("../../sql/telco_churn.db")

# Load table into pandas
df = pd.read_sql("SELECT * FROM customers", conn)
conn.close()

# Quick look at the data
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
# inspection data
df.tail()

df.describe()
#df.isnull().sum()
#df.shape
#df.keys()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

<h2>Day 2</h2>

In [6]:
# Shape of dataset
#df.shape

# Target distribution
df['Churn'].value_counts()
#df['Churn'].value_counts(normalize=True)

Churn
No     5174
Yes    1869
Name: count, dtype: int64

<p>Notes</p>
<ul>
    <li>Data is imbalanced</li>
    <li>Percentage of churned customers: 1869/7043. About 27%.</li>
</ul>

In [10]:
# checking for missing data

df.isna().sum().sort_values(ascending=False)

keys = df.keys()

for key in keys:
    key_type = df[key].dtype
    num_whitespace_strings = (df[key] == ' ').sum()
    print(f"{key} is of type {key_type} and has {num_whitespace_strings} empty strings.")

customerID is of type object and has 0 empty strings.
gender is of type object and has 0 empty strings.
SeniorCitizen is of type int64 and has 0 empty strings.
Partner is of type object and has 0 empty strings.
Dependents is of type object and has 0 empty strings.
tenure is of type int64 and has 0 empty strings.
PhoneService is of type object and has 0 empty strings.
MultipleLines is of type object and has 0 empty strings.
InternetService is of type object and has 0 empty strings.
OnlineSecurity is of type object and has 0 empty strings.
OnlineBackup is of type object and has 0 empty strings.
DeviceProtection is of type object and has 0 empty strings.
TechSupport is of type object and has 0 empty strings.
StreamingTV is of type object and has 0 empty strings.
StreamingMovies is of type object and has 0 empty strings.
Contract is of type object and has 0 empty strings.
PaperlessBilling is of type object and has 0 empty strings.
PaymentMethod is of type object and has 0 empty strings.
MonthlyCharges is of type float64 and has 0 empty strings.
TotalCharges is of type object and has 11 empty strings.
Churn is of type object and has 0 empty strings.

<p>Notes</p>
<ul>
    <li>All columns have values, non Nones or Nans</li>
    <li>Total Charges as empty strings as values. Pandas does not automatically check for empty strings.</li>
    <li>Total Charges will require cleaning</li>
</ul>

In [17]:
# more data inspection
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

print("Numeric Columns:    ", numeric_cols)
print("Categorical Columns:", categorical_cols)

df.describe()

#df['Contract'].value_counts()
#df['PaymentMethod'].value_counts()

Numeric Columns:     Index(['SeniorCitizen', 'tenure', 'MonthlyCharges'], dtype='object')
Categorical Columns: Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

<p>Notes</p>
<ul>
    <li>Most columns have categories for values, thus most data is not numeric.</li>
    <li>Total Charges should be numeric, however I believe the whitespace is what makes it non-numeric.</li>
</ul>

<h3>Day 2 Observations</h3>

<ul>
    <li>Data is imbalanced and with approximately 27% churned customers.</li>
    <li>All columns have values, non Nones or Nans. However, Total Charges has whitespaces representing missing values. Total Charges will require cleaning.</li>
    <li>Most columns have categories for values, thus most data is not numeric.</li>
    <li>Total Charges should be numeric, however I believe the whitespace is what makes it non-numeric.</li>
</ul>