<h1>API Tests</h1>

In [2]:
import sys
import pandas as pd
sys.path.append('../../src')
from preprocessing import process_data

In [3]:
df = pd.read_csv('../../data/processed/telco_churn_clean.csv')

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7027,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,0
7028,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,0
7029,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0
7030,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,1
7031,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,0

In [5]:
df = process_data(df)
df = df.drop('Churn', axis=1)
df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Female (gender),Male (gender),No (Partner),Yes (Partner),No (Dependents),Yes (Dependents),...,Yes (StreamingMovies),Month-to-month (Contract),One year (Contract),Two year (Contract),No (PaperlessBilling),Yes (PaperlessBilling),Bank transfer (automatic) (PaymentMethod),Credit card (automatic) (PaymentMethod),Electronic check (PaymentMethod),Mailed check (PaymentMethod)
0,0,1,29.85,29.85,True,False,False,True,True,False,...,False,True,False,False,False,True,False,False,True,False
1,0,34,56.95,1889.50,False,True,True,False,True,False,...,False,False,True,False,True,False,False,False,False,True
2,0,2,53.85,108.15,False,True,True,False,True,False,...,False,True,False,False,False,True,False,False,False,True
3,0,45,42.30,1840.75,False,True,True,False,True,False,...,False,False,True,False,True,False,True,False,False,False
4,0,2,70.70,151.65,True,False,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,84.80,1990.50,False,True,False,True,False,True,...,True,False,True,False,False,True,False,False,False,True
7028,0,72,103.20,7362.90,True,False,False,True,False,True,...,True,False,True,False,False,True,False,True,False,False
7029,0,11,29.60,346.45,True,False,False,True,False,True,...,False,True,False,False,False,True,False,False,True,False
7030,1,4,74.40,306.60,False,True,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
7031,0,66,105.65,6844.50,False,True,True,False,True,False,...,True,False,False,True,False,True,True,False,False,False

In [11]:
example_payload = dict.fromkeys(df.columns, 0)
example_payload
example_payload["tenure"] = 3
example_payload["MonthlyCharges"] = 90
example_payload["Month-to-month (Contract)"] = 1
example_payload["No (OnlineSecurity)"] = 1
example_payload

{'SeniorCitizen': 0,
 'tenure': 3,
 'MonthlyCharges': 90,
 'TotalCharges': 0,
 'Female (gender)': 0,
 'Male (gender)': 0,
 'No (Partner)': 0,
 'Yes (Partner)': 0,
 'No (Dependents)': 0,
 'Yes (Dependents)': 0,
 'No (PhoneService)': 0,
 'Yes (PhoneService)': 0,
 'No (MultipleLines)': 0,
 'No phone service (MultipleLines)': 0,
 'Yes (MultipleLines)': 0,
 'DSL (InternetService)': 0,
 'Fiber optic (InternetService)': 0,
 'No (InternetService)': 0,
 'No (OnlineSecurity)': 1,
 'No internet service (OnlineSecurity)': 0,
 'Yes (OnlineSecurity)': 0,
 'No (OnlineBackup)': 0,
 'No internet service (OnlineBackup)': 0,
 'Yes (OnlineBackup)': 0,
 'No (DeviceProtection)': 0,
 'No internet service (DeviceProtection)': 0,
 'Yes (DeviceProtection)': 0,
 'No (TechSupport)': 0,
 'No internet service (TechSupport)': 0,
 'Yes (TechSupport)': 0,
 'No (StreamingTV)': 0,
 'No internet service (StreamingTV)': 0,
 'Yes (StreamingTV)': 0,
 'No (StreamingMovies)': 0,
 'No internet service (StreamingMovies)': 0,
 'Yes (StreamingMovies)': 0,
 'Month-to-month (Contract)': 1,
 'One year (Contract)': 0,
 'Two year (Contract)': 0,
 'No (PaperlessBilling)': 0,
 'Yes (PaperlessBilling)': 0,
 'Bank transfer (automatic) (PaymentMethod)': 0,
 'Credit card (automatic) (PaymentMethod)': 0,
 'Electronic check (PaymentMethod)': 0,
 'Mailed check (PaymentMethod)': 0}