<h1>Baseline Model</h1>

<h2>Load Processed Data</h2>

In [46]:
import pandas as pd

# load data
df = pd.read_csv('../../data/processed/telco_churn_clean.csv')

# check if data is correct
df.head() # no ID column
df.isnull().sum() # no missing values
df['Churn'].value_counts() # 'Churn' is binary of type int64
df.tail()
len(df.columns)

20

<h2>Encode Categorical Columns</h2>

In [48]:
# encoding
categorical_cols = df.select_dtypes(include='object').columns 
for c in categorical_cols:
    hot_encoded_c = pd.get_dummies(df[c])
    new_categories = hot_encoded_c.columns
    new_categories = [ f"{new_c} ({c})" for new_c in new_categories]
    print(new_categories)
    df[new_categories] = hot_encoded_c
    df = df.drop(columns=[c])

len(df.columns)
df.tail()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,Female (gender),Male (gender),No (Partner),Yes (Partner),No (Dependents),...,Yes (StreamingMovies),Month-to-month (Contract),One year (Contract),Two year (Contract),No (PaperlessBilling),Yes (PaperlessBilling),Bank transfer (automatic) (PaymentMethod),Credit card (automatic) (PaymentMethod),Electronic check (PaymentMethod),Mailed check (PaymentMethod)
7027,0,24,84.80,1990.50,0,False,True,False,True,False,...,True,False,True,False,False,True,False,False,False,True
7028,0,72,103.20,7362.90,0,True,False,False,True,False,...,True,False,True,False,False,True,False,True,False,False
7029,0,11,29.60,346.45,0,True,False,False,True,False,...,False,True,False,False,False,True,False,False,True,False
7030,1,4,74.40,306.60,1,False,True,False,True,True,...,False,True,False,False,False,True,False,False,False,True
7031,0,66,105.65,6844.50,0,False,True,True,False,True,...,True,False,False,True,False,True,True,False,False,False